* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.reveal {
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 1.6s ease, transform 1.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.card.reveal:nth-child(1) {
    transition-delay: 0.2s;
}

.card.reveal:nth-child(2) {
    transition-delay: 0.4s;
}

.card.reveal:nth-child(3) {
    transition-delay: 0.6s;
}

.card.reveal:nth-child(4) {
    transition-delay: 0.8s;
}


header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navegator a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}


.navegator a:hover {
    color: #601cfc;


}

section {
    padding: 100px 200px;

}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #150539;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2 {
    color: white;

    font-size: 1.2em;
    font-weight: 500;

}

.main h2 span {
    color: #3a6cf4;
    font-size: 3em;
    font-weight: 600;
    margin-top: 10px;
}



.main h3 {
    color: white;

    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #6c63ff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 999;
}

#scrollTopBtn:hover {
    transform: translateY(-5px);
    background: #554ee8;
}


.main_button {
    text-decoration: none;
    background-color: #3a6cf4;
    padding: 0.9375em 2.1875em;
    color: white;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 40px;
    transition: 0.7s;
}

.main_button:hover {
    transform: scale(1.1);
    background-color: #601cfc;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease;

}

.social-icons a:hover {
    color: #3a6cf4;
    transform: scale(1.1);

}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;

}

.info {
    text-align: center;
}

.info h3 {

    color: #3a6cf4;
    font-size: 1, 2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.info a {
    text-decoration: none;
    color: black;

}

.info a:hover {
    color: #601cfc;

}

.projects {
    background-color: #150539;

}

.projects .content {
    margin-top: 30px;

}

.project-card {
    background-color: white;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.lang-project {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    margin-bottom: 7px;
    margin-top: -5px;
}

.lang-project p {
    background-color: #3a6cf4;
    padding: 8px 0;
    border-radius: 20px;
    width: 70px;
    text-align: center;
    background: linear-gradient(135deg,
            #0f0c29,
            #302b63,
            #24243e,
            #6a11cb,
            #2575fc,
            #00c6ff);
    background-size: 500% 500%;
    animation: animateBG 15s ease infinite;
}

@keyframes animateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.project-card:hover .project-image {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

/* .more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
} */
/* .more-details {
    width: 8em;
    position: relative;
    height: 2.5em;
    border: 3px ridge #149cea;
    outline: none;
    background-color: transparent;
    color: #3a6cf4;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
} */
.more-details {
    width: 8em;
    position: relative;
    height: 2.5em;
    /* border: 3px ridge #149cea; */
    border: 3px ridge #3a6cf4;
    outline: none;
    background-color: transparent;
    color: #3a6cf4;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    /* يمنع نزول الكلام لسطر ثاني */

    text-decoration: none;
}

.more-details::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
    transform-origin: center;
}

.more-details::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 89%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: white;
    transition: 0.5s;
}

.more-details:hover::before,
.more-details:hover::after {
    transform: scale(0);
}

.more-details:hover {
    /* box-shadow: inset 0px 0px 25px #1479ea; */
    box-shadow: inset 0 0 25px #3a6cf4;
    color: #601cfc;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: black;
}

.contact p {
    font-size: 1.5em;
}

.footer {
    background-color: #150539;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;

}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;

    }

    .navegator a {
        padding-left: 10px;

    }

    .title {
        font-size: 1.8em;

    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .more-details {
        font-size: 10px;

    }

    .lang-project p {

        font-size: 10px;
        width: 60px;

    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;

    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .more-details {
        font-size: 10px;

    }

    .lang-project p {

        font-size: 10px;
        width: 55px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }

    .more-details {
        font-size: 10px;

    }

    .lang-project p {

        font-size: 8px;
        width: 50px;

    }
}